body {
    background-color: rgb(220, 212, 212);
    color: rgb(40, 40, 40);
    font-family: Verdana, Tahoma, Geneva, sans-serif;
    font-size: 16px;
    text-align: center;
    background-image: url(../images/butterfly.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-attachment: fixed;
    background-position: center;
    
}